@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.logo {
  width: 70px;
}

.magnifier {
  width: 20px;
}

#searchbar {
  background-color: rgba(0, 0, 0, 0.05);
  width: 900px;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 50px;
}

#search-btn {
  background-color: #fb3b49;
  border-color: #fb3b49;
  width: 70px;
  height: 50px;
  color: white;
}

#join-btn {
  background-color: white;
  color: black;
  border: solid gray 0.5px;
  width: 50px;
  padding: 5px 15px;
}

#logIn-btn {
  background-color: white;
  color: black;
  width: 50px;
  height: 30px;
  padding: 5px 15px;
}

#combined-buttons {
  padding: 15px;
}

input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

#section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
}

#section-1 h1 {
  font-size: 80px;
}

#section-1 article {
  text-align: center;
  margin-bottom: 50px;
}

#section-1 a {
  text-decoration: none;
}

#plans-btn {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  color: white;
  padding: 20px 50px;
}

#join-link {
  color: black;
  padding: 50px;
}

#section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 150px;
}

#section-2 article {
  text-align: center;
}

#section-2 h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  margin-left: 100px;
  margin-right: 100px;
}

#section-2 img {
  width: 200px;
  margin: 30px;
}

#section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 120px 75px 200px 75px;
}

#section-3-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#section-3-info div {
  padding-left: 20px;
  padding-right: 20px;
}

#section-3-info img {
  width: 50px;
}

#section-3-info h3 {
  color: #ed1c24;
}

#org-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  color: white;
  width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  margin-top: 100px;
}
